<br>

<div>
 <button mat-icon-button color="primary" routerLink="/empleado/add" >
    <mat-icon>control_point</mat-icon>Agregar
  </button>
</div>

<div>
<mat-form-field >
  <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar">
</mat-form-field>
</div>

<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Código">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let element">
          <a mat-button [routerLink]="['/profile/empleado',element.id]" target="_blank">{{element.username}}</a>
        </td>
      </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>

    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>

    <ng-container matColumnDef="Editar">
      <th mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [routerLink]="['/empleado/edit',element.id]">
                        <mat-icon>edit</mat-icon>
                    </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="delete(element.id)">
                        <mat-icon>delete_sweep</mat-icon>
                    </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<mat-paginator [pageSize]="10"></mat-paginator>
</div>

<!--

   <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

-->
